<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>  
  
  <body>
    <div>
      <h1>404 - OOPS!</h1>
      <p>This HTML is for use in illustrative examples in documents. You may use this HTML in literature without prior coordination or asking for permission.</p>
      <p><a href="/">Back to Home page...</a></p>
    </div>
  </body>
</html>