<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>  
  
  <body>
    <div>
      <h1>Create Note</h1>
      <form>
        <input type="text" placeholder="Text">
      </form>
      <p><a href="/">Back to Home page...</a></p>
    </div>
  </body>
</html>