<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>  

  <body>
    <div>
      <h1><%= h1 %></h1>
      <p>This HTML is for use in illustrative examples in documents. You may use this HTML in literature without prior coordination or asking for permission.</p>
      <p><a href="/create">Create a Note...</a></p>
    </div>
  </body>
</html>