<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>  
  
  <body>
    <div class="container">
      <nav>
        <div class="title">404 OOPS...</div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/note/create">Create</a></li>
        </ul>
      </nav>
      <p>Can't find a page with such url :(</p>
    </div>
  </body>
</html>